.list {
    /* background-color: black;  */
    color: black; 
    padding: 15px; 
}

.blog-list {
    color: black; 
    text-decoration: none;
}

.blog-list:hover {
    text-decoration: underline; 
    color: blueviolet;
}

