
.blog-details {
    background-color: #b8b4b4c7;
    /* color:black; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.writer-info {
    font-size: 18px;
    margin-bottom: 10px;
}

.image-link{
    text-align: center;
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.blog-body {
    font-size: 16px;
    margin-top: 10px;
}

.comment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment-info {
    font-size: 16px;
    margin-bottom: 10px;
}

.email-link {
    /* color: white; */
    color: black;
    text-decoration: none; 
    font-size: 16px;
}

.email-link:hover{
    color: black;
}

.comment-form {
    margin-top: 20px;
  }
  
  .comment-form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .comment-form button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .comment-form button:hover {
    background-color:black;
  }


/* .blog-details{
    background-color: blanchedalmond;
    color: black;
} */


/* .blog-details {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
  }
  
  .writer-info {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .blog-body {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .comment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .comment-info {
    font-size: 16px;
    margin-bottom: 10px;
  }
   */