/* Login.css */

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Align items vertically */
  }
  
  .form-group {
    margin-bottom: 10px;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Align items vertically */
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px; /* Add some space between label and input */
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px; /* Add some space between input and next label */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px; /* Add some space between the input fields and the button */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  